MYSQL_USER = root
MYSQL_PASSWORD = root
MYSQL_HOST=localhost
MYSQL_PORT=8085

RESOURCE_ID=0e01d6a089fb995228d599eccf39dcaec67712b6cd55e70c81bad741d032375b7aac317e68bb4028acc81dfa96ffd788589c7985d2044a2b51fd94f73685ea42

MYSQL_EVENTS_DB=LAS2PEERMON 
MYSQL_BOTS_DB=SBF

SOCIAL_BOT_MANAGER_ENDPOINT=https://mobsos.tech4comp.dbis.rwth-aachen.de/SBFManager
WEBCONNECTOR_URL=http://127.0.0.1:8080

MYSQL_DB = LAS2PEERMON

PORT = 8082
RASA_IMAGE=khalosa/rasa-aarch64:3.5.2 
BUILDPLATFORM=linux/arm64/v8

SOCIAL_BOT_MANAGER_IMAGE=registry.tech4comp.dbis.rwth-aachen.de/rwthacis/social-bot-manager:ma-lakhoune
MOBSOS_DATA_PROCESSING_IMAGE=registry.tech4comp.dbis.rwth-aachen.de/rwthacis/mobsos-data-processing:ma-lakhoune
SBF_IMAGE=registry.tech4comp.dbis.rwth-aachen.de/rwthacis/sbf-utils:ma-lakhoune
EVENT_LOG_GENERATOR_IMAGE=registry.tech4comp.dbis.rwth-aachen.de/rwthacis/event-log-generator:0.1.10
PM4BOTS_IMAGE=processminingforbots:latest
CORS_ORIGIN=http://localhost:8082
DEFAULT_BOT_PASSWORD=actingAgent